*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul, ol{
    list-style: none;
}
img{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50px;
}
/* layout */



/* style */
.flex{
    display: flex;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
}
.main-header{
    height: 70px;
    background-color: #EAEAEA;
    padding: 7px;
    width: 100%;
    border-left: 1px solid #B4B4B4;
}
.main-header .row{
    gap: 15px;
    display: flex;
    align-items: center;
    
}
.profile-name{
    font-weight: 600; 
    font-size: 16px;
}
.last-access{
    color: #808789;
    font-size: 13px;
}
.message-section{
    background-image: url(../img/mine.jpg);
    max-width: calc(100% - 15px);
    height: calc(100vh - 140px);
    padding: 20px;
}
.message-section .col-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3px;
}
.message-sent-section{
    display: flex;
    justify-content: flex-end;
}
.message-arrive-section{
    padding-top: 15px;
}
.message-sent, .message-arrive{
    width: 70%;
    font-size: 13px;
    border-radius: 10px;
    padding: 10px;
    background-color: #D5FABA;
}
.hour-text{
    font-size: 10px;
}
.write-message-section{
    background-color: #EAEAEA;
    height: 70px;
    padding: 10px;
}
.write-message{
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    display: flex;
    flex-grow: 1;
}
.search-chat{
    padding: 8px;
}
.search-chat .write-message{
    border-radius: 0;
    padding: 10px;
}
.search-chat .write-message i{
    padding-right: 15px;
    padding-left: 10px;
}
.big-icon{
    font-size: 25px;
    padding: 8px;
    color: #B4B4B4;
}
.write-message-section .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-profile-preview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
hr{
    border: 0;
    border-top: 1px solid #CED0D2;
}
.profile-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px;
}
.ring-slash-icon{
    background-color: white;
    border-radius: 50px;
    width: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.receive-notification{
    padding: 15px;
}
.ring-slash-icon-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.side-bar .profile-preview .profile-description .message-arrive-hour{
    align-self: flex-start;
}
/* display none */
.icon-header, .icon-write-message-section, .profile-description, .side-bar,
.side-bar .big-icon, .receive-notification, .search-chat{
    display: none;
}

/* col */
.col-11{
    width: calc(11 * 100 / 12);
}
.col-1{
    width: calc(1 * 100 / 12);
}
.col-8{
    width: calc(8 * 100 / 12);
}
.col-4{
    width: calc(4 * 100 / 12);
}
/* background color */
.bg-green{
    background-color: #D5FABA;
}
.bg-white{
    background-color: white;
}
.bg-lightgray{
    background-color: #EAEAEA;
}
.bg-cyan{
    background-color: #A6D7F9;
}
/* color */
.lightgray{
    color: #C7CACA;
}
.darkgray{
    color: #5B7384;
}
.cyan{
    color: #A6D7F9;
}

@media (min-width:500px){
    .side-bar, .icon-write-message-section, .icon-header {
        display: flex;
    }
    .profile-photo{
        padding: 7px 15px;
    }

}
@media (min-width:980px){
    .profile-preview{
        width: 370px;
        height: 70px;
    }
    .side-bar .big-icon{
        display: inline;
    }
    .profile-description, .receive-notification, .search-chat{
        display: flex;
    }
}